<% if @lists.any? %>
  <div class="card-list-container py-5">
    <% @lists.each do |list| %>
      <div class="card w-50 mx-auto mt-4 shadow-lg">
        <%= link_to list_path(list.id) do %>
          <%= image_tag list.get_image, class: "card-img-top"; %>
        <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 text-center d-none d-md-block">
              <%= image_tag list.user.get_profile_image(100,100), class: "mt-3 rounded-circle img-fluid" %>
            </div>
            <div class="col-md-9">
              <div class="card-title">
                <%= link_to(list_path(list.id)) do %>
                  <strong><i class="far fa-flag"></i><span><%= list.title %></span></strong>
                <% end %>
              </div>
              <div class="card-user mb-1">
                <% if current_user %>
                  <%= link_to user_path(list.user) do %>
                    <i class="fa-solid fa-user"></i>
                    <%= list.user.name %>
                  <% end %>
                <% else %>
                  <i class="fa-solid fa-user"></i>
                  <%= list.user.name %>
                <% end %>
              </div>
              <% if current_user %>
                <div class="card-favoritesmb-1">
                 <%= render "favorites", list: list %>
                </div>
              <% end %>
              <div class="card-comment">
                <p>コメント件数: <%= list.list_comments.count %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="d-flex justify-content-center mt-5">該当するレコードはありません。</p>
<% end %>

<div class="d-flex justify-content-center">
  <%= paginate @lists %>
</div>


