
  <h1>投稿フォーム</h1>
  <%= form_with model: @list do |f| %>
    <%= render 'layouts/error_messages', resource: f.object %>

    <div class="mt-2">タイトル</div>
    <%= f.text_field :title %>
    <div class="mt-2">イラスト</div>
    <%= f.file_field :image, accept: "image/*" %>
    <div class="mt-2">説明</div>
    <%= f.text_area :caption %>
    <div class="mt-2">
      <%= f.submit '投稿' %>
    </div>
  <% end %>



