<!DOCTYPE html>
<html>
  <head>
    <title>Admin-Illustration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="mb-4">
      <%= render "layouts/admin_navbar" %>
    </header>
    <div class="container">
      <%= render "layouts/flash_messages" %>
    <%= yield %>
  </body>
</html>