<!DOCTYPE html>
<html>
  <head>
    <title>Illustration</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/f8ef0b09d6.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="mb-4">
      <%= render "layouts/navbar" %>
    </header>
    <div class="container">
      <%= render "layouts/flash_messages" %>
        <div class="d-flex justify-content-center mb-2">
          <%= render 'public/searches/form' %>
        </div>
      <%= yield %>
    </div>
  </body>
</html>
